@model Cadastro.Models.FuncionarioViewModel
@{
    ViewBag.Title = "Funcionarios";
}
<h2>Funcionarios</h2>

<div class="container">
    <div class="row">
        <h3 class="titulo">Cadastro de Funcionario</h3>
    </div>
    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Funcionarios", "Conta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "form-label col-md-2" })
                    <dev class="col-md-10">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </dev>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Telefone, new { @class = "form-label col-md-2" })
                    <dev class="col-md-10">
                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                    </dev>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DataDeNascimento, new { @class = "form-label col-md-2" })
                    <dev class="col-md-10">
                        @Html.TextBoxFor(m => m.DataDeNascimento, new { @class = "form-control" })
                    </dev>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sexo, new { @class = "form-label col-md-2" })
                    <dev class="col-md-10">
                        @Html.TextBoxFor(m => m.Sexo, new { @class = "form-control" })
                    </dev>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Ativo, new { @class = "form-label col-md-2" })
                    <dev class="col-md-10">
                        @Html.TextBoxFor(m => m.Ativo, new { @class = "form-control" })
                    </dev>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Cargo, new { @class = "form-label col-md-2" })
                    <dev class="col-md-10">
                        @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control" })
                    </dev>
                </div>

                <dev class="form-group">
                    <div class="col-md-10 col-lg-1-md-offset-2">
                        <input type="submit" class="btn btn-success" value="Entrar" />
                    </div>
                </dev>
            }
        </section>
    </div>
</div>